/* Escritorio Grande */
@media only screen and (min-width: 1201px) {
	
}
/* Escritorio Normal */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	
}
/* Tableta Horizontal */
@media only screen and (min-width: 960px) and (max-width: 1024px) {
	body { font-size: 16px; }
	
}
/* Tableta Vertical */
@media only screen and (min-width: 768px) and (max-width: 960px) {
	body { font-size: 16px; }
	
}
/* Celular Horizontal */ 
@media only screen and (min-width: 480px) and (max-width: 768px) {
	body { font-size: 16px; }
	.search-box{
		margin: 0 auto;
	}
	
}
/* Celular Vertical */
@media only screen and (max-width: 480px) {
	body { font-size: 16px; }
	.search-box{
		margin: 0 auto;
	}
	
}